html {
    font-size: 16px;
    font-family: sans-serif;
}

.answer {
}

body {
    margin: 0;
    height: 105vh;
}

.footer {
    height: 3rem;
}

.header {
    text-transform: uppercase;
    background-color: #ACD8AA;
    border-bottom: 2px solid #F48498;
    height: 5rem;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.history {
}

.title {
    align-items: center;
    height: 100%;
    display: flex;
}

.site-name {
    margin: 10px;
}

.title img {
    border: 1px solid black;
    margin-left: 10px;
    max-height: 75%;
}

.header h1 {
    margin: 0;
}

.nav-bar {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav {
    /* padding: 1.3rem .5rem; */
    /* border-radius: .6rem; */
    background-color: #ACD8AA;
    height: 100%;
    min-width: 10rem;
    list-style-type: none;
    padding: 0 .5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    list-style-type: none;
    margin: 0 .5rem;
    font-weight: 400;
    font-size: 1rem;
}

.nav::before {
    content: "";
    width: 100%;
    position: absolute;
    height: .75rem;
    bottom: -.75rem;
}

.nav-bar li li {
    background-color: #F48498;
}

.dropdown {
    border-radius: 1rem;
    opacity: 0; /* Added for transition */
    visibility: hidden; /* Added for transition */
    position: absolute;
    top: 110%;
    width: 150%;
    left: 0;
    transform: translateX(-16.66666%);
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out; /* Added for transition */
    z-index: 1;
    display: flex; /* Added for vertical stacking */
    flex-direction: column; /* Added for vertical stacking */
    justify-content: center; /* Added for vertical stacking */
    align-items: center; /* Added for vertical stacking */
    background-color: #F48498; /* Moved here to ensure background color is always set */
}

.dropdown ul {
    list-style-type: none; /* Removes bullet points */
}

.dropdown li {
    opacity: 0; /* Added for transition */
    visibility: hidden; /* Added for transition */
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out; /* Added for transition */
    text-align: center; /* Centers text within li */
}

.nav:hover {
    filter: brightness(1.1);
    border: 1px solid #F48498;
}

.dropdown li:hover {
    filter: brightness(1.1);
}

.nav:hover div {
    justify-content: center;
    align-items: center;
    background-color: #F48498;
    opacity: 1;
    visibility: visible;
}

.nav:hover .dropdown li {
    display: block;
    opacity: 1;
    visibility: visible;
}

ul {
    padding: 0;
}

/* .nav-bar li:hover li { */
/*     display: inline-block; */
/* } */

.response {

}

.response div {
    margin: 10px;
}
