<div class="header">
    <div class="title">
        <img src="/static/img/homeoffice.png"/>
        <div class="site-name">Robby's Portfolio</div>
    </div>
    <div class="nav-bar">
        <li class="home nav"><a href="{{ url_for('index') }}">Home</a>
            <!-- <div class="home dropdown"> -->
            <!--     <ul> -->
            <!--         <li>Home stuff one</li> -->
            <!--         <li>Home stuff two</li> -->
            <!--     </ul> -->
            <!-- </div> -->
        </li>
        <li class="python nav">Python
            <div class="python dropdown">
                <ul>
                    <li><a href="{{ url_for('calculator_route') }}">Calculator</a></li>
                    <li>Deck building card game</li>
                </ul>
            </div>
        </li>
        <li class="javascript nav">JavaScript
            <div class="javascript dropdown">
                <ul>
                    <li>JavaScript list items</li>
                    <li>another one</li>
                </ul>
            </div>
        </li>
    </div>
</div>
